<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../vue.js"></script>
    <title>learn Vue.js</title>
</head>
<body>
    <div id="app0">
        <h2>[用語]</h2>
        <ul>
            <li v-for="item in terms">{{item.term}} = {{item.meaning}}</li>
        </ul>
    </div>
    <script>
        var app0 = new Vue({
            el: '#app0',
            data: {
                terms: [
                    {'term': 'ディレクティブ', 'meaning': 'Vueが提供する属性のこと'},
                    {'term': 'コンポーネント', 'meaning': 'アプリケーションの一部分を汎用的に使えるように分割したもの'},
                ]
            }
        });
    </script>

    <h2>[1] 宣言的レンダリング</h2>
    <p>
        データとDOMの関連付け<br>
        全てがリアクティブ(反応性)になっている。
    </p>
    <div id="app1">
        {{ message }}
    </div>
    <script>
        var app1 = new Vue({
            el: '#app1',
            data: {
                message: 'Hello Vue!'
            }
        });
    </script>

    <h2>[2] (v-bindディレクティブ)</h2>
    <p>
        title属性をVueインスタンスのmessageプロパティで更新して保存する
    </p>
    <div id="app-2">
        <span v-bind:title="message">
            このテキストのspanタグのtitle属性にメッセージが入っている。(マウスオーバーで見れる)
        </span>
    </div>
    <script>
        var app2 = new Vue({
            el: '#app-2',
            data: {
                message: 'このページを以下の日付でロードしました\n' + new Date().toLocaleString()
            }
        });
    </script>

    <h2>[3] Transition Effect (遷移効果) (v-ifディレクティブ)</h2>
    <p>
        要素をVueによって挿入/更新/削除する時に、自動的に適用される効果<br>
        以下の文はコンソールで app3.seen = false とすると消える。
    </p>
    <div id="app-3">
        <span v-if="seen">見えてる</span>
    </div>
    <script>
        var app3 = new Vue({
            el: '#app-3',
            data: {
                seen: true
            }
        });
    </script>

    <h2>[4] ループ処理 (v-forディレクティブ)</h2>
    <p>
        app4.todos.push({ text: 'New item' }) とすることでリストにアイテムを追加できる。
    </p>
    <div id="app-4">
        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>
    </div>
    <script>
        var app4 = new Vue({
            el: '#app-4',
            data: {
                todos: [
                    { text: 'Learn javascript' },
                    { text: 'Learn Vue' }
                ]
            }
        })
    </script>

    <h2>[5] ユーザー入力の制御 (v-onディレクティブ)</h2>
    <p>
        ボタンクリックでメソッドを実行する
    </p>
    <div id="app-5">
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">Reverse Message</button>
    </div>
    <script>
        var app5 = new Vue({
            el: '#app-5',
            data: {
                message: 'Hello Vue.js'
            },
            methods: {
                // ↓ DOM操作は行ってないことに注目！
                reverseMessage: function() {
                    this.message = this.message.split('').reverse().join()
                }
            }
        });
    </script>

    <h2>[6] 双方向バインディング</h2>
    <p>
        inputに入力したテキストとapp6.messageの中身がバインディングされている
    </p>
    <div id="app-6">
        <p>{{ message }}</p>
        <input type="text" v-model="message">
    </div>
    <script>
        var app6 = new Vue({
            el: '#app-6',
            data: {
                message: 'Hello Vue!'
            }
        });
    </script>

    <h2>[7] コンポーネント</h2>
    <p>
        Vueにおいてコンポーネントは、あらかじめ定義されたオプションを持つVueインスタンス。
        大規模なアプリケーションでは、開発を行いやすくするために、アプリケーション全体をコンポーネントに分割することが必要。
    </p>
    <div id="app-7">
        <ol>
            <!-- groceryListをループして、itemをtodo_propプロパティ経由でコンポーネントに渡している -->
            <todo-item v-for="item in groceryList" v-bind:todo_prop="item"></todo-item>
        </ol>
    </div>
    <script>
        // コンポーネントの定義
        // todo-itemというタグを作る
        // v-bindを使って、todo_prop という "プロパティ" にitemを渡せるようにする
        Vue.component('todo-item', {
            props: ['todo_prop'],
            template: '<li>{{ todo_prop.text }} (id = {{todo_prop.id}})</li>'
        });

        // ループする配列の定義
        var app7 = new Vue({
            el: '#app-7',
            data: {
                groceryList: [
                    { id: 0, text: '野菜'},
                    { id: 1, text: 'チーズ'},
                    { id: 2, text: '肉'}
                ]
            }
        });
    </script>
</body>
</html>